<div [formGroup]="form" class="form-vertical">
    <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="form.get('name')?.errors?.required">Name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Last Name:</mat-label>
        <input matInput formControlName="lastName">
        <mat-error *ngIf="form.get('lastName')?.errors?.required">Last Name is required</mat-error>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Middle Name:</mat-label>
        <input matInput formControlName="middleName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Date Of Birth:</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('dateOfBirth')?.errors?.required">Date is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Phone Number:</mat-label>
        <input matInput formControlName="phone" [maxLength]="LIMITS.phone">
        <mat-error *ngIf="form.get('phone')?.errors?.required">Phone is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Gender</mat-label>
        <input matInput formControlName="gender">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Client Group:</mat-label>
        <mat-select formControlName="clientGroup">
            <mat-option *ngFor="let group of dropdowns.clientGroup" [value]="group">
                {{ group }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('clientGroup')?.errors?.required">Client Group is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Coordinator:</mat-label>
        <mat-select formControlName="coordinator">
            <mat-option *ngFor="let coordinator of dropdowns.coordinator" [value]="coordinator">
                {{ coordinator }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-checkbox formControlName="noSms">Do not send me SMS</mat-checkbox>
</div>