<div>
    <mat-form-field>
        <mat-label>File:</mat-label>
      <div>
        <mat-toolbar>
          <input matInput [value]="fileName" />
          <button
            mat-flat-button
            color="primary"
            [disabled]="!currentFile"
            (click)="upload()"
          >
            Upload
          </button>
        </mat-toolbar>
        <input
          type="file"
          id="fileInput"
          (change)="selectFile($event)"
          name="fileInput"
        />
      </div>
    </mat-form-field>
  </div>