.row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 8px 0;
    h4 {
        margin: 0;
    }
}